td{
	width: 50px;
	height: 50px;
	border:solid 1px black;
}
.column1{
	
	background-color: white;
}
.column2{
background-color: black;
}
.evenDate{
	background-color: tomato;
	color: white;
}
.oddDate{
	background-color: blue;
	color: white;
}
#gme{
	border:solid 1px black;

}