td{
	width: 50px;
	height: 50px;
	border:solid 1px black;
}
.column1{
	
	background-color: white;
}
.column2{
background-color: black;
}
.evenDate{
	background-color: tomato;
	color: white;
}
.oddDate{
	background-color: blue;
	color: white;
}
#gme{
padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #555;
    color: white;
    border: solid 1px #666;

}
#form{
	padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #566;
    color: white;
    border: solid 1px #666;

}
#input-group{
	width:900px;
}
#bodydiv{
	background-image: url('/home/bid/Desktop/wed/bootstrap/bck2.jpg');
  		
  	}
  	.item{
  		height:200px; 
  	}